@* ReSharper disable RedundantNameQualifier *@
@model UserGroup.Web.Areas.BackOffice.Models.EditMeetingModel
@* ReSharper restore RedundantNameQualifier *@

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Scripts.Render("~/resources/jsval")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="detail create">
        @Html.EditorForModel()
    </div><p>
            <button type="submit">Erstellen</button>
        </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
