<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - .net user group Köln</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@Url.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <script src="@Url.ResolveBundleUrl("~/Scripts/js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("dotnet Köln/Bonn e.V. - Identity Server", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                            @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                            <li>@Html.ActionLink("Anmeldung", "Index", "Login")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year dotnet Köln/Bonn e.V.</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
