@model MeetingLineModel

<div class="meetinglist">
	<div class="date">
		<span>@Html.DisplayFor(meeting => meeting.StartDate)</span><br/>
		<span>@Html.DisplayFor(meeting => meeting.StartTime)</span>
	</div>
	<div class="description">
		<p><a href="@Html.Raw(Model.MeetingDetailUrl)">@Model.Title</a></p>
		<p>@Html.DisplayFor(meeting => meeting.Description)</p>
	</div>
</div>