@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - .net user group K&ouml;</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/resources/css")
        @Scripts.Render("~/resources/js")
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
                <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(".net user group K&ouml;", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Startseite", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Treffen", "Index", "ShowMeeting", new {area = ""}, null)</li>
                            <li>@Html.ActionLink("Über uns", "Details", "ShowPage", new {area = "", slug="about"}, null)</li>
                            <li>@Html.ActionLink("Kontakt", "Details", "ShowPage", new {area = "", slug="contact"}, null)</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    @if (Request.IsLocal)
                    {
                        <p>&copy; @DateTime.Now.Year - @Html.ActionLink(".net user group Köln", "Index", "Admin", new {area = "backoffice"}, null)</p>
                    }
                    else
                    {
                    <p>&copy; @DateTime.Now.Year - <a href="https://dotnet-koelnbonn.de/dotnet-koeln/backoffice/">.net user group Köln</a></p>
                        
                    }
                </div>
                <div class="float-right">
                    <ul id="social">
                    </ul>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
        </script>
        @RenderSection("scripts", false)
        </body>
</html>