<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - .net user group Köln</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/resources/backofficecss")
    @Scripts.Render("~/resources/js")
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body data-ng-app="Backoffice" data-app-root="@Url.Content("~/")" data-api-root="@Url.Content("~/api/v1/")">
    <header class="navbar navbar-inverse navbar-fixed-top ug-nav">
        <div class="container">
            <a class="navbar-brand" href="~/">.net user group Köln</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ng-href="#/">Startseite</a></li>
                    <li><a ng-href="#/meetings">Treffen</a></li>
                    <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div>
            </div>
    </header>
    <section class="container">
        @RenderBody()
    </section>
    <footer class="ug-footer">
        <p>UserGroup Backoffice Version <span app-version></span></p>
    </footer>
    @Scripts.Render("~/resources/spajs")
    @RenderSection("scripts", false)
</body>
</html>