@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - .net user group Köln</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/resources/backofficecss")
    @Scripts.Render("~/resources/js")
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body data-ng-app="Backoffice" data-app-root="@Url.Content("~/")">


    <div class="container">
        <div class="masthead">
            <h2>.net user group Köln</h2>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li><a ng-href="#/">Startseite</a></li>
                            <li><a ng-href="#/meetings">Treffen</a></li>
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.navbar -->
        </div>
        @RenderBody()
        <hr />
        <div class="footer">
                <p>UserGroup Backoffice Version <span app-version></span></p>
        </div>
    </div>
    <!-- /container -->
    @Scripts.Render("~/resources/spajs")
    @RenderSection("scripts", false)
</body>
</html>
