@model ShowPageModel

@{
    ViewBag.Title = @Model.Title;
}

@section featured {
@if (!string.IsNullOrWhiteSpace(Model.Abstract))
    {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Title.</h2>
            </hgroup>
        <p>@Html.DisplayFor(m=>m.Abstract)</p>
        </div>
    </section>
    }
}
@if (string.IsNullOrWhiteSpace(Model.Abstract))
{
<h2>@ViewBag.Title</h2>
}
<p>@Html.DisplayFor(m=>m.Content)</p>