@model EditTalkModel

@{
    ViewBag.Title = "Edit";
}

<h2>Bearbeiten: @Model.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="detail edit">
        
    @Html.EditorForModel()
    <button type="submit">Speichern</button>
    </div>    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
